*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 

    @include respond(large) {
        font-size: 56.25%;
    }
    @include respond(medium) {
        font-size: 50%;
    }
    @include respond(small) {
        font-size: 35%;
    }
    @include respond(largest) {
        font-size: 65%;
    }
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right bottom, $color-grey-dark, $color-grey-light);
    overflow-x: hidden;
    font-size: $default-font-size;
    min-height: 100vh;
}