$color-primary: #FFF;
 
$color-grey-light: #414141;  
$color-grey-light-1: #505050; 
$color-grey-dark: #101010;

$color-red-light: #ff3300;
$color-red-dark: #fc1313;



$default-font-size: 1.6rem;
$title-font-size: 2.5rem;
$sub-title-font-size: 1.9rem;