.movie-detail-left {
    flex: 0 0 20%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    & > img {
        border-radius: 1rem;
        width: 100%;
        filter: grayscale(1);

        margin-bottom: 10%;
    }

    &__info {
        list-style: none;
    }
}