.movie-section {
    padding: 2rem 0;

    &__title {
        padding: 1rem 2rem;
        font-size: $sub-title-font-size;
        font-weight: 700;
        line-height: 1;
        letter-spacing: .1rem;
        color: $color-primary;
    }
}

