.movies-slider {
    height: 100%;
    width: 100%;
    
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__previous-button,
        &__next-button {
            padding: .5rem;
            cursor: pointer;
            flex: 0 0 2%;

            transition: all .2s;
            opacity: .5;

            &:hover {
                opacity: 1;
            }

            & img {
                width: 100%;
                height: 100%;
            }
        }

        &__previous-button {
            transform: rotate(180deg);
        }

        &__track {
            flex: 1 0 96%;

            display: flex;
            height: 100%;
            overflow: hidden;
        }
    }

    

    &__slot {
        overflow:hidden;
        cursor: pointer;
        flex: 1 0 20%;
        padding: .2rem;
        
        

        & img {
            width: 100%;
            height: 100%;
            border-radius: 1rem;

            transform: scale(.9);
            transition: all .2s;

            &:hover {
                transform: scale(1);
                border: solid 2px $color-primary;
            }
        }

        &.sliding_track {
            transition:transform .25s ease;
            &-prev{
                transform:translateX(20%);
            }
            &-next{
                transform:translateX(-20%);
            }
        }

        &.not-sliding_track {
            transition: transform .5s ease;
            transform: translateX(0%);
        }
    }

}