.loading {

    height: 100vh;
    @include flex_center;
    flex-direction: column;


    
    &__figure {
        width: 30%;
        animation: fadein-fadeout 1.5s infinite;

        &__image {
            width: 100%;
            height: auto;
        }
    }

    

    &__error {
        @include flex_center;
        flex-direction: column;
        padding: 1rem;

        &__title {
            font-size: $title-font-size;
            font-weight: 700;
            line-height: 1;
            letter-spacing: .15rem;
            color: $color-red-dark;
            text-transform: uppercase;
        }
    
        &__subtitle {
            font-size: 2rem;
            color: $color-red-light;
        }
    }
}