.loading {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__image-box {
        width: 30%;
        animation: fadein-fadeout 1.5s infinite
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__error-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__error-title {
        font-size: $title-font-size;
        font-weight: 700;
        line-height: 1;
        letter-spacing: .15rem;
        color: $color-red-dark;
        text-transform: uppercase;
    }

    &__error-subtitle {
        font-size: 2rem;
        color: $color-red-light;
    }
}