.layout {

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    &__header {
        flex: 0 0 7rem;

        padding: 1rem 2rem;
        background-color: #000;
        border-bottom: .1rem solid $color-grey-light;

        display: flex;
        justify-content: space-between;
        align-items: center;

        

        &__logo {
            flex: 0 0 5%;

            &:hover {
                animation: beat .75s ease 0s infinite;
            }
        }

        &__title {
            flex: 0 0 95%;

            padding: 0rem 5rem;
            overflow: hidden;
            
            font-size: $title-font-size;
            font-weight: 700;
            letter-spacing: .15rem;
            text-transform: uppercase;
            text-overflow: ellipsis;
            white-space: nowrap; 
            text-align: center;
        }
    }
    
    &__content {
        flex-grow: 1;

        overflow: hidden;
        position: relative;

        &__inner{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: auto;

            margin: 0 1rem 1rem 0rem;


            .page__container {
                padding: 2rem 5rem;
            }
        }
    }
}
