.layout {

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__header {
        background-color: #000;
        border-bottom: .1rem solid $color-grey-light;
        flex: 0 0 7rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1rem 2rem;

        &-logo {
            flex: 0 0 10%;
            width: auto;
        }

        &-title {
            flex: 0 0 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 700;
            font-size: $title-font-size;
            letter-spacing: .15rem;
            padding: 0rem 5rem 0rem 10rem;
        }
    }
    
    &__content {
        flex-grow: 1;

        overflow: hidden;
        position: relative;

        &-inner{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: auto;

            margin: 0 1rem 1rem 0rem;
        }
    }


    &__container {
        padding: 2rem 10rem;
    }
}
