.page {

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__header {
        background-color: #000;
        border-bottom: .1rem solid $color-grey-light;
        flex: 0 0 7rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1rem 2rem;

        &-logo {
            flex: 0 0 10%;
            width: auto;
        }

        &-title {
            flex: 0 0 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 700;
            font-size: $title-font-size;
            letter-spacing: .15rem;
            padding: 0rem 5rem 0rem 10rem;
        }
    }
    
    &__content {
        flex-grow: 1;

        overflow: hidden;
        position: relative;

        &-inner{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: auto;
        }
    }
}

.scroll-thumb-vertical {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    background-color: $color-grey-light-1;
    transform: translateY(0px); 
}
